@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewBaskervilleC";
  src: url("../fonts/NewBaskervilleC-Bold/NewBaskervilleC-Bold.eot");
  src: url("../fonts/NewBaskervilleC-Bold/NewBaskervilleC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NewBaskervilleC-Bold/NewBaskervilleC-Bold.woff") format("woff"), url("../fonts/NewBaskervilleC-Bold/NewBaskervilleC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: NewBaskervilleC, sans-serif;
}

button, input, textarea {
  font-family: Muller, sans-serif;
}

button:active, button:hover, button:focus, input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus {
  outline: 0;
  outline-offset: 0;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
}

::-moz-focus-inner {
  border: 0;
}

input:invalid, input:-moz-submit-invalid, input:-moz-ui-invalid {
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  left: 143px;
}

.menu__btn {
  height: 14px;
  width: 19px;
  margin-right: 11px;
  position: relative;
  cursor: pointer;
}

.menu__btn span {
  top: 6px;
}

.menu__btn span, .menu__btn span:before, .menu__btn span:after {
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #282830;
}

.menu__btn span:before, .menu__btn span:after {
  content: '';
}

.menu__btn span:before {
  top: -6px;
}

.menu__btn span:after {
  top: 6px;
}

.menu__btn_active span {
  background-color: transparent;
}

.menu__btn_active span:before, .menu__btn_active span:after {
  background-color: #fff;
}

.menu__btn_active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__btn_active span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__btn_dark-bg span, .menu__btn_dark-bg span:before, .menu__btn_dark-bg span:after {
  background-color: #fff;
}

.menu__text {
  color: #282830;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.menu__text_active {
  color: #fff;
}

.menu__text_dark-bg {
  color: #fff;
}

.menu__descr {
  margin-left: 32px;
  padding-left: 24px;
  color: #a1a1a1;
  border-left: 2px solid #a1a1a1;
}

.page1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 76px 0 112px 140px;
  height: 100vh;
  background: no-repeat url(../img/page1/bg.jpg) center/cover;
}

.page1-main {
  margin-top: 134px;
  width: 560px;
}

.page1-main__title, .page1-main__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.page1-main__title {
  color: #282830;
  font-size: 54px;
}

.page1-main__subtitle {
  margin-bottom: 45px;
  color: #000000;
  font-family: Muller;
  font-size: 16px;
}

.page1-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.page1-numbers__signs, .page1-numbers__photos, .page1-numbers__members {
  color: #282830;
  font-size: 48px;
  font-weight: 700;
}

.page1-numbers__text {
  display: block;
  color: #282830;
  font-family: Muller;
  font-size: 14px;
  font-weight: 700;
}

.page1-btn {
  position: absolute;
  bottom: 112px;
  width: 300px;
}

.page1-btn, .page1-btn__link {
  color: #282830;
  fill: #282830;
}

.page1-btn__link, .page1-btn__link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page1-btn__icon, .page1-btn__link__icon {
  margin-right: 18px;
}

.page1-btn:hover, .page1-btn:hover .page1-btn__link, .page1-btn__link:hover, .page1-btn__link:hover .page1-btn__link, .page1-btn:hover .page1-btn__link__link, .page1-btn__link:hover .page1-btn__link__link {
  color: #565668;
  fill: #a4a4b3;
}

.page2 {
  height: 100vh;
  position: relative;
  background-color: #282830;
  color: #ffffff;
}

.page2-blocks {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page2-blocks__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #515151;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.page2-blocks__block:first-child {
  border-left: none;
}

.page2-blocks__block:last-child {
  border-right: none;
}

.page2-blocks__block:hover {
  background-color: #36363d;
}

.page2-about {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 81px;
  padding-left: 4%;
}

.page2-about__title {
  margin-bottom: 76px;
  font-size: 28px;
  font-weight: 700;
  position: relative;
}

.page2-about__title:after {
  top: 60px;
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.page2-about__text {
  max-width: 400px;
  margin-bottom: 100px;
  font-family: Muller;
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
}

.page2-numbers {
  margin-bottom: 100px;
}

.page2-numbers__signs, .page2-numbers__photos, .page2-numbers__members {
  color: #ffffff;
  font-size: 24px;
}

.page2-numbers__text {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 500;
}

.page2-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page2-icons__img:first-child {
  margin-right: 34px;
}

.page3 {
  height: 100vh;
  background-color: #282830;
  color: #ffffff;
  position: relative;
}
/*# sourceMappingURL=style.css.map */