.more-info
    &-page
        display: flex
        height: 100vh

    &__gallery
        flex-basis: 10%
        background-color: $active
        padding: 30px 34px 0 34px
        color: #787878
        font-family: Muller
        font-weight: 400
        position: relative

        .gallery__subtitle
            margin-bottom: 20px
    
    &__btn
        display: flex
        align-items: center
        position: absolute
        bottom: 34px

        .btn
            line-height: 1
            font-family: Muller
            font-size: 12px
            font-weight: 400
    
    &__photo
        flex-basis: 60%
        overflow: hidden
    
    &__img
        object-fit: cover
    
    &__descr
        flex-basis: 30%