.page1
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    padding: 76px 0 112px 140px
    height: 100vh
    background: no-repeat url(../img/page1/bg.jpg) center / cover


.page1
           
    &-main
        margin-top: 134px
        width: 560px
        &__title, &__subtitle
            font-weight: 700
            text-transform: uppercase

        &__title
            color: $active
            font-size: 54px
            
        
        &__subtitle
            margin-bottom: 45px
            color: #000000
            font-family: Muller
            font-size: 16px
    
    &-numbers
        display: flex
        width: 420px
        align-items: center
        justify-content: space-between
        text-align: center
        
        &__signs, &__photos, &__members
            color: $active
            font-size: 48px
            font-weight: 700

        &__text
            display: block
            color: $active
            font-family: Muller
            font-size: 14px
            font-weight: 700
    
    &-btn
        position: absolute
        bottom: 112px
        width: 300px
        
    &-btn, &-btn__link
        
        color: $active
        fill: $active

        &__link
            display: flex
            align-items: center
        
        &__icon
            margin-right: 18px
        
        &:hover, &:hover &__link
            color: lighten($active, 20)
            fill: lighten($active, 50)
            
        

        

        
