.region
    &-page
        display: flex
        height: 100vh

        &__gallery
            flex-basis: 20%
            background-color: $active
            font-family: Muller
            color: #787878
            padding-top: 50px
            padding-left: 40px
        
        &__map
            flex-basis: 80%
        

    &-gallery
        &__title
            margin-bottom: 7px
            color: #fff
            font-size: 24px
            font-weight: 700
        
        &__subtitle
            margin-bottom: 40px
            font-size: 14px
        
        &__photos
            display: flex
            flex-wrap: wrap
            

